
<!DOCTYPE html>
<html lang="es">
<head id="MetaData">
    <script src="/templates/pages/index/head.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor en Mantenimiento</title>
    <link rel="stylesheet" href="/templates/static/index.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <header id="Header-Content"></header>
    <main id="Main-Content"></main>
    <div class="container">
	<img src="/favicon.png" alt="Trulli" width="500" height="333">
        <h1>Servidor en Mantenimiento</h1>
        <p>El servidor está actualmente en mantenimiento. Estamos trabajando para mejorar tu experiencia.</p>
        <p>Estimamos que el servicio estará disponible nuevamente en aproximadamente 1 hora.</p>
        <p>Mientras tanto, disculpa las molestias y gracias por tu paciencia.</p>
    </div>
    <footer id="Footer-Content"></footer>
    <script src="/templates/pages/index/header.js"></script>
    <script src="/templates/pages/index/main.js"></script>
    <script src="/templates/pages/index/footer.js"></script>
</body>
</html>
